
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* spinner */
.overlay-spinner-active .overlay-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  -o-animation-name: rotate-forever;
  -ms-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 5px solid rgba(0,0,0,0.7);
  border-right-color: transparent;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid rgba(0,0,0,0.25);
  border-right: 5px solid rgba(0,0,0,.75);
  border-bottom: 5px solid rgba(0,0,0,.75);
  border-left: 5px solid rgba(0,0,0,.75);
}

  .overlay-spinner-active .overlay-spinner,
  .overlay-spinner-active .overlay-spinner:after {
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

.overlay-spinner {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  border: 8px solid #ffffff;
  border-right-color: transparent;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

  /* container */
  overlay-spinner.overlay-spinner-active-remove {
    -moz-transition: all 750ms ease-in;
    -o-transition: all 750ms ease-in;
    -webkit-transition: all 750ms ease-in;
    -ms-transition: all 750ms ease-in;
    transition: all 750ms ease-in;
  }


.overlay-spinner-container {
  position: absolute;
  min-height: 50px;
  -moz-min-width: 50px;
  -ms-min-width: 50px;
  -o-min-width: 50px;
  -webkit-min-width: 50px;
  min-width: 50px;
  z-index: 1;
  top: -9999999px;
  left: -9999999px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.85);
  opacity: 0;
  -moz-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  -webkit-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}


.overlay-spinner-active .overlay-spinner-container,
.overlay-spinner-active-add .overlay-spinner-container,
.overlay-spinner-active-add-active .overlay-spinner-container {
  top: 0;
  left: 0;
  -ms-opacity: 1;
  opacity: 1;
}

.overlay-spinner-active-remove .overlay-spinner-container,
.overlay-spinner-active-remove-active .overlay-spinner-container {
  top: 0;
  left: 0;
  -ms-opacity: 0;
  opacity: 0;
}


/* content */
.overlay-spinner-content {
  position: relative;
}
