@-webkit-keyframes rotate-forever {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-forever {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* spinner */

.loading-spinner-active .loading-spinner {
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: rotate-forever;
  -moz-animation-timing-function: linear;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-bottom: 5px solid rgba(0, 0, 0, .75);
  border-left: 5px solid rgba(0, 0, 0, .75);
  border-radius: 50%;
  border-right: 5px solid rgba(0, 0, 0, .75);
  border-right-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
  display: inline-block;
  height: 30px;
  width: 30px;
}

.loading-spinner-active .loading-spinner,
.loading-spinner-active .loading-spinner:after {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.loading-spinner {
  border: 8px solid #ffffff;
  border-radius: 50%;
  border-right-color: transparent;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 30px;
  z-index: 1;
}

/* container */

loading-spinner.loading-spinner-active-remove { transition: all 750ms ease-in; }


.loading-spinner-container {
  background-color: rgba(255, 255, 255, .85);
  height: 100%;
  left: -9999999px;
  min-height: 50px;
  min-width: 50px;
  opacity: 0;
  position: absolute;
  top: -9999999px;
  transition: opacity 500ms ease-in;
  width: 100%;
  z-index: 1;
}


.loading-spinner-active .loading-spinner-container,
.loading-spinner-active-add .loading-spinner-container,
.loading-spinner-active-add-active .loading-spinner-container {
  left: 0;
  opacity: 1;
  top: 0;
}

.loading-spinner-active-remove .loading-spinner-container,
.loading-spinner-active-remove-active .loading-spinner-container {
  left: 0;
  opacity: 0;
  top: 0;
}


/* content */

.loading-spinner-content { position: relative; }